<h1>&#127828 Welcome to Burger City &#127828</h1>

<h2>Order Up!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>That was delicious...</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cook Up a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    {{!-- <label for="slee">Eat?</label><br> --}}
    <input type="radio" name="devour" value="1" checked> Place Order<br>
    <input type="radio" name="devour" value="0"> <em>Burp</em>
  </div>

  <button type="submit">Grill It!</button>
</form>